html {
    padding: 5vw;
    font-family: Arial, Helvetica, sans-serif;
}
p, button, textarea, span {
    font-size: 14pt;
}
.input-box {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
textarea {
    width: 40vw;
    height: 12vh;
}
.buttons-action {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.button-action {
    width: 40vw;
}
button {
    padding: 10px 20px;
    margin-top: 1vh;
    border-radius: 2000px;
}
.eat {
    margin-top: 3vh;
    font-weight: bold;
}