@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* basic colors */
/* basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif !important;
}
/*btn settings*/
.btn {
  background-color: #fcb303;
  color: #ffffff;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #fcb303;
  color: #ffffff;
}
.btn:active {
  background-color: #e6a50e !important;
  color: #ffffff !important;
}
/*form settings*/
.form {
  padding: 5rem;
  text-align: center;
}
.form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.form-header strong {
  font-size: 2rem;
}
.form .header-input {
  position: absolute;
  padding: 0.5rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-input {
  display: block;
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #dddddd;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
/*typography*/
.primary-title {
  line-height: 1.45;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4.5rem;
}
.primary-sub-title {
  margin-bottom: 5rem;
  font-size: 2.4rem;
}
.secondary-title {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.3rem;
}
.secondary-sub-title {
  font-size: 1.5rem;
}
.telephone-number {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #1a1820;
}
.telephone-number:hover {
  color: #1a1820;
}
.about-cost {
  text-align: center;
  font-size: 1.8rem;
}
.cost-work {
  font-size: 3rem;
}
/*first page*/
.main {
  padding: 2rem 0;
  top: 0px;
  background: #ffffff url(../img/bg-promo.jpg) center top no-repeat;
  text-align: left;
}
.main-content {
  margin-top: 10rem;
}
.main .request-primary-title {
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.main .about-cost {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #46b814;
  color: #ffffff;
}
.main .main-title-trigger {
  display: block;
  margin-top: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.main .form {
  background-color: #ffffff;
}
/*second page*/
.benefit {
  margin-top: 100px;
}
.benefit .benefit-primary-title {
  margin-bottom: 100px;
}
.benefit .img-benefit {
  margin-bottom: 30px;
}
.benefit .secondary-sub-title {
  margin-bottom: 80px;
}
/*third page*/
.price {
  background-color: #286c0a;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}
.price .choice-order {
  padding: 30px 10px;
  background-color: #ffffff;
  color: #1a1820;
}
.price .choice-order .secondary-title {
  margin-bottom: 20px;
}
.price .choice-order p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.price .choice-order .item-list {
  font-size: 1.5rem;
}
.price .choice-order .item-list li {
  list-style-type: none;
}
.price .choice-order .item-list li::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/icon-check.png) no-repeat center;
}
.price .choice-order .price-choice-order-btn {
  font-size: 2rem;
}
/*fourth page*/
.reviews {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #ffffff url(../img/bg-reviews.jpg) center top no-repeat;
}
.reviews .mySwiper {
  padding: 20px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #dddddd;
          box-shadow: 0 0 10px #dddddd;
}
.reviews .mySwiper .work-description {
  font-size: 1.7rem;
}
.reviews .mySwiper .photo-customer {
  border-radius: 25px;
}
.reviews .mySwiper .name-customer {
  font-size: 1.4rem;
  margin-left: 10px;
  display: inline !important;
}
.reviews .mySwiper .review-from-customer {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #46b814;
}
.reviews .mySwiper .quote-customer {
  font-size: 1.5rem;
  font-style: italic;
}
.reviews .reviews-secondary-title {
  margin-top: 60px;
}
.reviews .form {
  padding-top: 20px !important;
}
.reviews .reviews-header-input {
  -webkit-transform: translateX(-50%) translateY(25%);
          transform: translateX(-50%) translateY(25%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  background-color: #46b814;
  padding: 10px;
  color: #ffffff;
}
/*fifth page*/
.scheme-work {
  padding-top: 70px;
  padding-bottom: 40px;
  background: #ffffff url(../img/bg-scheme-work.jpg) bottom right no-repeat;
}
.scheme-work .scheme-work-primary-sub-title {
  margin-bottom: 80px;
}
.scheme-work .stage-of-work {
  margin-bottom: 60px;
}
/*sixth page*/
.in-cost {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
}
.in-cost .title {
  text-align: center;
  margin-bottom: 90px;
}
.in-cost .title .in-cost-primary-title {
  color: #286c0a;
}
.in-cost .col-xl-3 {
  margin-bottom: 70px;
}
.in-cost .in-cost-items-number {
  display: table-cell !important;
  text-align: center;
  vertical-align: top;
  height: 50px !important;
  width: 50px !important;
  background: #f5f5f5 url(../img/num-wrap.png) top center no-repeat;
  color: #ffffff;
  font-size: 3rem;
}
.in-cost .secondary-titles {
  vertical-align: middle;
  display: table-cell !important;
  padding-left: 0.5rem;
}
.in-cost .in-cost-secondary-title {
  font-size: 2rem;
  display: block !important;
}
.in-cost .in-cost-secondary-sub-title {
  font-size: 1.5rem;
  display: block !important;
}
/*seventh page*/
.worries {
  padding: 70px 0px;
}
.worries .worries-primary-title {
  text-align: center;
}
.worries .girl {
  position: absolute;
  left: 50%;
  margin-left: -130px;
  width: 260px;
  height: 597.25px;
  background: url(../img/girl.png) center bottom no-repeat;
}
.worries .problems {
  min-height: 397px;
  border: 3px solid #dddddd;
  padding: 40px;
  margin-top: 60px;
}
.worries .problems .worries-problems-secondary-title {
  color: #6b6b6b;
}
.worries .problems .list-problems {
  font-size: 1.7rem;
}
.worries .problems .list-problems li {
  list-style-image: url(../img/icon-delete.png);
  margin-top: 30px;
}
.worries .solves {
  min-height: 397px;
  border: 3px solid #286c0a;
  padding: 40px;
  margin-top: 60px;
}
.worries .solves .list-solves {
  font-size: 1.7rem;
}
.worries .solves .list-solves li {
  list-style-image: url(../img/icon-check.png);
  margin-top: 30px;
}
/*eighth page*/
.materials {
  padding: 70px 0px;
  background: #ffffff url(../img/bg-materials.jpg) center center no-repeat;
}
.materials .img-for-materials {
  margin-top: 70px;
}
.materials .materials-secondary-title {
  margin-bottom: 30px;
}
.materials .type-of-material {
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.materials .materials-certificate {
  font-size: 1.5rem;
  color: #46b814;
}
.materials .materials-certificate:active {
  color: #286c0a;
}
/*nineth page*/
.view-work {
  padding: 70px 0;
  background: #ffffff url(../img/bg-view-work.jpg) center center no-repeat;
}
.view-work .view-work-primary-title {
  margin-bottom: 60px;
  text-transform: uppercase;
}
.view-work .view-work-primary-sub-title {
  margin-bottom: 30px;
}
.view-work .view-work-form {
  background-color: #ffffff;
}
.view-work .view-work-form-input {
  margin-bottom: 50px;
}
.view-work .view-work-form-btn {
  padding: 10px;
}
/*media запросы*/
@media screen and (max-width: 1399px) {
  /*seventh page*/
  .girl {
    height: 648.25px !important;
  }
  .problems {
    min-height: 448px !important;
  }
  .solves {
    min-height: 448px !important;
  }
}
@media screen and (max-width: 1199px) {
  /*seventh page*/
  .girl {
    height: 725.25px !important;
  }
  .problems {
    min-height: 525px !important;
  }
  .solves {
    min-height: 525px !important;
  }
}
@media screen and (max-width: 991px) {
  /*for all pages*/
  .primary-title {
    text-align: center;
    font-size: 6rem;
  }
  .primary-sub-title {
    font-size: 4rem !important;
  }
  .secondary-title {
    font-size: 4.5rem !important;
  }
  .secondary-sub-title {
    font-size: 2.8rem !important;
  }
  .btn {
    font-size: 3rem;
    font-family: 'ProximaNova_bold', sans-serif;
  }
  .telephone-number {
    font-size: 3rem !important;
    margin-bottom: 30px;
  }
  /*form settings for all pages*/
  .form {
    -webkit-box-shadow: 0 0 10px #dddddd;
            box-shadow: 0 0 10px #dddddd;
  }
  .form-header {
    font-size: 4rem !important;
  }
  .form-header strong {
    font-size: 4.5rem;
  }
  .header-input {
    font-size: 3.7rem !important;
  }
  .form-input {
    font-size: 4rem;
  }
  small {
    font-size: 2.7rem !important;
  }
  /*first page*/
  .main {
    text-align: center;
    background: #ffffff url(../img/texture-wall.jpg) center top no-repeat;
  }
  .logo {
    margin-bottom: 30px;
  }
  .logo img {
    width: 100%;
  }
  .request-main-page-btn {
    width: 100%;
  }
  .about-cost {
    font-size: 4rem !important;
  }
  .main-title-trigger {
    font-size: 3.5rem;
  }
  /*third page*/
  .choice-order {
    border: none;
  }
  /*fourth page*/
  .work-description {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 3.7rem !important;
  }
  .quote-customer {
    font-size: 3.5rem !important;
  }
  .name-customer {
    font-size: 3rem !important;
  }
  .reviews-header-input {
    -webkit-transform: translateX(-50%) translateY(-20%) !important;
            transform: translateX(-50%) translateY(-20%) !important;
  }
  /*fifth page*/
  .scheme-work {
    background: none;
  }
  /*seventh page*/
  .worries .girl {
    display: none;
  }
  .worries .problems {
    min-height: 5px !important;
    margin-bottom: 50px;
  }
  .worries .list-problems {
    font-size: 2.8rem !important;
  }
  .worries .solves {
    min-height: 5px !important;
  }
  .worries .list-solves {
    font-size: 2.8rem !important;
  }
  /*eighth page*/
  .materials {
    background: #ffffff url(../img/bg-materials-vertical.jpg) center center repeat;
  }
  .materials .type-of-material {
    font-size: 2.8rem;
  }
  .materials .materials-certificate {
    font-size: 2.8rem;
  }
  /*nineth page*/
  .view-work {
    background: #ffffff url(../img/bg-view-work-2.jpg) center top repeat;
    text-align: center;
  }
  .view-work .view-work-form-header {
    margin-bottom: 70px;
  }
  .view-work .view-work-form-btn {
    min-height: 90px;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 767px) {
  .view-work-form-btn {
    min-height: 120px !important;
  }
}
@media screen and (max-width: 575px) {
  .logo {
    text-align: center;
  }
}
