.attention {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1vw;
    top: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #2B3A55;
    font-size: 20pt;
    .sign {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px !important;
        height: 50px !important;
        background-color: #E8C4C4;
        border-radius: 100vw;
        .exclamationPoint {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px !important;
            height: 50px !important;
            font-size: 30px;
            color: #cc6262;
        }
    }
}
.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30pt;
    .menu-result {
        display: flex;
        justify-content: end;
        align-items: center;

        height: 8vw;
        width: calc(36.5vw - 10px);
        margin-bottom: 2.5vh;
        padding: 10px;

        border: 4px solid #F2E5E5;
        border-radius: 20px;
        color: #2B3A55;
        transition: all 0.2s;
    }
    .menu-result:hover {
        background-color: #F2E5E5;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .numbers {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
    
            width: 22vw;
            margin-right: 20px;
            button {
                user-select: none;
                width: 7vw;
                height: 7vw;
                margin-bottom: 0.5vw;
                color: #2B3A55;
                background-color: white;
                border: 4px solid #E8C4C4;
                border-radius: 20px;
                transition: all 0.2s;
    
                font-weight: 700;
                font-size: 30pt;
            }
            button:hover {
                background-color: #E8C4C4;
            }
            button:active {
                background-color: #ebb6b6;
                border: 4px solid #ebb6b6;
            }
        }
    
        .actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            width: 14.5vw;
            button {
                user-select: none;
                width: 7vw;
                height: 7vw;
                margin-bottom: 0.5vw;
                background-color: white;
                color: #2B3A55;
                border: 4px solid #CE7777;
                border-radius: 20px;
                transition: all 0.2s;
                
                font-weight: 700;
                font-size: 30pt;
            }
            button:hover{
                background-color: #CE7777;
                color: white;
            }
            button:active{
                background-color: #cc6262;
                border: 4px solid #cc6262;
            }
        }
    }
}
@media screen and (max-width: 920px){
    .attention {
        font-size: 10pt;
        .sign {
            height: 25px !important;
            width: 25px !important;
            .exclamationPoint {
                font-size: 15px;
                height: 25px !important;
                width: 25px !important;
            }
        }
        .text {
            margin-left: 1vw;
        }
    }
    .container {
        font-size: 6vw !important;
        .menu-result {
            height: 12vw !important;
            width: calc(90vw - 10px) !important;
        }
        .buttons {
            justify-content: space-between;
            width: 90vw !important;
            .numbers {
                width: 52vw !important;
                margin-right: 0 !important;
                button{
                    font-size: 6vw !important;
                    width: 17vw !important;
                    height: 17vw !important;
                }
            }
            .actions {
                width: 34.5vw !important;
                button {
                    font-size: 6vw !important;
                    width: 17vw !important;
                    height: 17vw !important;
                }
            }
        }
    }
}