/*font-settings*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*colours*/
.reasons-to-use-app {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reasons-to-use-app .container {
  flex-flow: column nowrap;
  display: flex;
  align-items: center !important;
  justify-content: space-around;
  padding: 4vh 0vh;
}
.reasons-to-use-app .container .title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-bottom: 10vh;
}
.reasons-to-use-app .container .title h1 {
  margin-bottom: 2vh;
}
.reasons-to-use-app .container .list-reasons {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 85%;
}
.reasons-to-use-app .container .list-reasons .first-half, .reasons-to-use-app .container .list-reasons .second-half {
  display: flex;
  flex-flow: row nowrap;
}
.reasons-to-use-app .container .list-reasons .img-for-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}
.reasons-to-use-app .container .list-reasons .img-for-icon .bg-for-icon {
  position: absolute;
}
.reasons-to-use-app .container .list-reasons .img-for-icon .container-for-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 88px;
}
.reasons-to-use-app .container .list-reasons .img-for-icon .container-for-icon .icon {
  position: relative;
  z-index: 999;
}
.reasons-to-use-app .container .list-reasons .title-for-icon {
  display: flex;
  flex-direction: column;
}
.reasons-to-use-app .container .list-reasons .title-for-icon h2 {
  font-size: 20pt;
  margin-bottom: 2vh;
  color: #242f51;
  font-weight: 600;
}
.reasons-to-use-app .container .list-reasons .title-for-icon p {
  margin-bottom: 4vh;
}
.reasons-to-use-app .container .list-reasons .reason-2, .reasons-to-use-app .container .list-reasons .reason-5 {
  margin: 0px 2vh;
}

@media screen and (max-width: 1000px) {
  .reasons-to-use-app .container .title {
    width: 100% !important;
    margin-bottom: 4vh !important;
  }
  .reasons-to-use-app .container .title h1 {
    font-size: 5vh !important;
  }
  .reasons-to-use-app .container .list-reasons {
    text-align: left;
  }
  .reasons-to-use-app .container .list-reasons .first-half, .reasons-to-use-app .container .list-reasons .second-half {
    flex-direction: column;
  }
  .reasons-to-use-app .container .list-reasons .reason {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .reasons-to-use-app .container .list-reasons .reason .img-for-icon {
    justify-content: center;
    margin-bottom: 1vh;
  }
  .reasons-to-use-app .container .list-reasons .reason .img-for-icon .icon {
    height: 5vh;
  }
  .reasons-to-use-app .container .list-reasons .reason .img-for-icon .bg-for-icon, .reasons-to-use-app .container .list-reasons .reason .img-for-icon .container-for-icon {
    height: 8vh !important;
    width: 8vh !important;
  }
  .reasons-to-use-app .container .list-reasons .reason .title-for-icon {
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
  }
  .reasons-to-use-app .container .list-reasons .reason .title-for-icon h2 {
    font-size: 3vh !important;
    margin-bottom: 1vh;
  }
  .reasons-to-use-app .container .list-reasons .reason .title-for-icon p {
    margin-bottom: 3vh;
  }
  .reasons-to-use-app .container .list-reasons .reason-2, .reasons-to-use-app .container .list-reasons .reason-5 {
    margin: 0px !important;
  }
}/*# sourceMappingURL=sixth-page.css.map */