/*colours*/

$btn-bg-colour: #2500f9;
$btn-bg-colour-hover: #1e00c7;

$light-colour: #ffffff;
$dark-colour: #000000;
$logo-colour: #fcae61;

$colour-for-icon-star: #feaa25;
$bg-for-text-icon-star: #e2eaed;

$colour-for-icon-red: #f55767;

$colour-for-icon-blue:#2563ff;

$colour-for-icon-green:#40975f;

$border-colour: #ebebeb;
$color-for-swiper: #eff3f8;
$basic-colour-text: #616368;
$colour-for-title: #242f51;