@import 'font-settings.scss';
@import 'colours.scss'; 

.dowland-app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 420px;
    background: url(../img/eleventh-page-img/man-walk.png) bottom right no-repeat;
    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 4vh 0;
        .main-content {
            width: 40vw;
            .title {
                .primary-title {
                    font-size: 48pt;
                }
                p {
                    margin-bottom: 50px;
                    margin-top: 40px;
                }
            }
            .platforms {
                .google {
                    margin-right: 40px;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .dowland-app {
        .container {
            background-color: rgba(255,255,255,0.8);
            .main-content {
                width: 90%;
                .platforms {
                    img {
                        margin-top: 40px;
                        width: 300px !important;
                        height: auto;
                    }
                }
            }
        }
    }
}