@import 'font-settings.scss';
@import 'colours.scss';

.best-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92vh;
    padding: 4vh 0vh;
    background: url(../img/first-page-img/bg-little-x-o.png) center center no-repeat,
    url(../img/first-page-img/bg-little-0-romb.png) left center no-repeat,
    url(../img/first-page-img/bg-town.png) center bottom repeat-x;
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .logo {
            align-items: center;
            height: 50px;
            p {
                color: $logo-colour;
                font-weight: $bold-font;
                font-size: 30pt;
            }
            span {
                color: $colour-for-title;
            }
        }
        .navigation-items {
            align-items: center;
            width: 70%;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    display: flex;
                    align-items: center;
                    a {
                        color: $colour-for-title !important;
                        text-decoration: none;
                        align-items: center;
                    }
                }
            }
        }
    }
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
        .reward {
            margin-top: 22vh;
            display: flex;
            justify-content: flex-start;
            .star-reward {
                position: absolute;
                padding: 10px;
                border-radius: 100px;
                background-color: $colour-for-icon-star;
            }
            .reward-text {
                padding: 7.5px 50px;
                border-radius: 100px;
                font-size: 18pt;
                color: $colour-for-title;
                background-color: $bg-for-text-icon-star;
            }
        }
        .title {
            margin-top: 30px;
            width: 60%;
            .primary-title {
                font-size: 60pt;
                margin-bottom: 40px;
            }
        }
        .buttons {
            margin-top: 40px;
            width: 60%;
            a {
                margin-left: 30px;
                text-decoration: none;
                color: $btn-bg-colour;
            }
        }
        .img-phone {
            position: absolute;
            top: 15%;
            left: 60%;
        }
    }
}