@import 'font-settings.scss';
@import 'colours.scss';

.smart-jackpot {
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        flex-flow: column nowrap;
        align-items: center !important;
        justify-content: space-around;
        padding: 4vh 0vh;
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10vh;
            .primary-title {
                font-size: 40pt;
            }
            .lign {
                margin-left: 3vw;
                margin-right: 3vw;
                height: 150px;
                width: 1px;
                background-color: #b9b9b8;
            }
        }
        .jackpots {
            display: flex;
            flex-direction: row;
            .align-icon {
                flex-direction: column;
            }
            .first-jackpot {
                .secondary-title {
                    color: $colour-for-icon-red;
                }
            }
            .second-jackpot {
                margin-left: 5vw;
                margin-right: 5vw;
                .secondary-title {
                    color: $colour-for-icon-blue;
                }
            }
            .third-jackpot {
                .secondary-title {
                    color: $colour-for-icon-green;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) { 
    .smart-jackpot {
        .container {
            height: 92vh;
            .title {
                flex-direction: column !important;
                text-align: center;
                margin-bottom: 2vh !important;
                .lign {
                    width: 60vw !important;
                    height: 1px !important;
                    margin: 40px 0px !important;
                    background-color: #b9b9b8;
                }
            }
            .jackpots {
                flex-direction: column !important;
                justify-content: center;
                text-align: center;
                .align-icon {
                    .img-for-icon {
                        justify-content: center;
                        margin-bottom: 1vh;
                    }
                    .title-for-icon {
                        p {
                            margin-bottom: 3vh;
                        }
                    }
                }
                .second-jackpot {
                    margin: 0 !important;
                }
            }
        }
    }
}