@import 'font-settings.scss';
@import 'colours.scss';

.ultimate-features {
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(../img/seventh-page-img/telephone-up.png) center right no-repeat,
    url(../img/seventh-page-img/telephone-down.png) center right 200px no-repeat,
    url(../img/seventh-page-img/bg-telephone.png) center right no-repeat;
    .container{
        flex-flow: row nowrap;
        display: flex;
        align-items: center !important;
        justify-content: flex-start !important;
        padding: 4vh 0vh;
        .text {
            display: flex;
            flex-flow: wrap column;
            align-content: space-between;
            width: 70%;
            .title {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-bottom: 7vh;
                h1 {
                    margin-bottom: 2vh;
                }
            }
            .list-features {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 85%;
                .first-half, .second-half{
                    display: flex;
                    flex-flow: row nowrap;
                }
                .img-for-icon {
                    display: flex;
                    margin-bottom: 4vh;
                    .bg-for-icon {
                        position: absolute;
                    }
                    .container-for-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 88px;
                        width: 88px;
                        .icon {
                            position: relative;
                            z-index: 999;
                        }
                    }
                }
                .title-for-icon {
                    display: flex;
                    flex-direction: column;
                    h2 {
                        font-size: 20pt;
                        margin-bottom: 2vh;
                        color: $colour-for-title;
                        font-weight: $semibold-font;
                    }
                    p {
                        margin-bottom: 4vh;
                    }
                }
            }
            .basic-button {
                width: max-content;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .ultimate-features { 
        background:url(../img/seventh-page-img/telephone-up.png) center right no-repeat,
        url(../img/seventh-page-img/telephone-down.png) center right 100px no-repeat,
        url(../img/seventh-page-img/bg-telephone.png) center right no-repeat;
        background-size: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .ultimate-features {
        background: none;
        .container {
            .text {
                width: 100% !important;
                .title {
                    width: 100% !important;
                    h1 {
                        font-size: 5vh;
                    }
                }
                .list-features {
                    width: 100% !important;
                    .feature {
                        .img-for-icon {
                            margin-bottom: 1vh;
                            .icon {
                                height: 5vh;
                            }
                            .bg-for-icon, .container-for-icon{
                                height: 8vh !important;
                                width: 8vh !important;
                            }
                        }
                        .title-for-icon {
                            h2 {
                                font-size: 3vh !important;
                                margin-bottom: 1vh;
                            }
                            p {
                                margin-bottom: 3vh;
                            }
                        }
                    }
                    .feature-1, .feature-3 {
                        margin-right: 2vw;
                    }
                }
            }
        }
    }
}