@import 'font-settings.scss';
@import 'colours.scss';

.ultimate-features {
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(../img/seventh-page-img/telephone-up.png) center right no-repeat,
    url(../img/seventh-page-img/telephone-down.png) center right 200px no-repeat,
    url(../img/seventh-page-img/bg-telephone.png) center right no-repeat;
    .container{
        display: flex;
        flex-flow: row nowrap;
        align-items: center !important;
        justify-content: flex-start !important;
        padding: 4vh 0vh;
        .text {
            display: flex;
            flex-flow: wrap column;
            align-content: space-between;
            width: 70%;
            .title {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-bottom: 7vh;
                .primary-title {
                    margin-bottom: 2vh;
                }
            }
            .list-features {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 85%;
                .first-half, .second-half{
                    display: flex;
                    flex-flow: row nowrap;
                }
                .align-icon {
                    flex-direction: column;
                    .title-for-icon {
                        .secondary-title {
                            font-weight: $semibold-font;
                            color: $colour-for-title;
                        }
                        p {
                            margin-bottom: 4vh;
                        }
                    }
                }
            }
            .basic-button {
                width: max-content;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .ultimate-features { 
        background:url(../img/seventh-page-img/telephone-up.png) center right no-repeat,
        url(../img/seventh-page-img/telephone-down.png) center right 100px no-repeat,
        url(../img/seventh-page-img/bg-telephone.png) center right no-repeat;
        background-size: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .ultimate-features {
        background: none;
        .container {
            .text {
                width: 100% !important;
                .title {
                    width: 100% !important;
                }
                .list-features {
                    width: 100% !important;
                    .align-icon {
                        .img-for-icon {
                            margin-bottom: 1vh;
                        }
                        .title-for-icon {
                            h2 {
                                margin-bottom: 1vh;
                            }
                            p {
                                margin-bottom: 3vh;
                            }
                        }
                    }
                    .feature-1, .feature-3 {
                        margin-right: 2vw;
                    }
                }
            }
        }
    }
}