@import 'font-settings.scss';
@import 'colours.scss';

.reasons-to-use-app {
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        flex-flow: column nowrap;
        align-items: center !important;
        justify-content: space-around;
        padding: 4vh 0vh;
        .title {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            width: 50%;
            margin-bottom: 10vh;
            .primary-title {
                margin-bottom: 2vh;
            }
        }
        .list-reasons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 85%;
            .first-half, .second-half{
                display: flex;
                flex-flow: row nowrap;
            }
            .align-icon {
                flex-direction: column;
                .img-for-icon {
                    justify-content: center;
                }
                .title-for-icon {
                    .secondary-title {
                        color: $colour-for-title;
                        font-weight: $semibold-font;
                    }
                    p {
                        margin-bottom: 4vh;
                    }
                }
            }
            .reason-2, .reason-5 {
                margin: 0px 2vh;
            }
        }
    }
}

@media screen and (max-width: 1000px) { 
    .reasons-to-use-app {
        .container {
            .title {
                width: 100% !important;
                margin-bottom: 4vh !important;
            }
            .list-reasons {
                text-align: left;
                .first-half, .second-half {
                    flex-direction: column;
                }
                .align-icon{
                    flex-direction: row;
                    align-items: flex-start;
                    .img-for-icon {
                        justify-content: center;
                        margin-bottom: 1vh;
                    }
                    .title-for-icon {
                        display: flex;
                        flex-direction: column;
                        margin-left: 2vh;
                        .secondary-title {
                            margin-bottom: 1vh;
                        }
                        p {
                            margin-bottom: 3vh;
                        }
                    }
                }
                .reason-2, .reason-5 {
                    margin: 0px !important;
                }
            }
        }
    }
}