@import 'font-settings.scss';
@import 'colours.scss';

.awesome-features {
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        flex-flow: row nowrap;
        display: flex;
        align-items: center !important;
        justify-content: space-between;
        padding: 4vh 0vh;
        .phone {
            .bg-smartphone {
                position: absolute;
                max-height: 80vh;
                margin-top: 10vh;
                left: 8%;
            }
            .smartphone {
                position: relative;
                max-height: 80vh;
                z-index: 10000;
            }
        }
        .text {
            display: flex;
            flex-flow: wrap column;
            align-content: space-between;
            align-items: center;
            .title {
                .primary-title {
                    margin-bottom: 3vh;
                }
                p {
                    margin-bottom: 10vh;
                }
            }
            .align-icon {
                flex-direction: row;
                margin-bottom: 7vh;
                .title-for-icon {
                    margin-left: 2vw;
                }
                
            }
            .first-feature {
                .secondary-title {
                    color: $colour-for-icon-red;
                }
            }
            .second-feature {
                .secondary-title {
                    color: $colour-for-icon-blue;
                }
            }
            .third-feature {
                .secondary-title {
                    color: $colour-for-icon-green;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .awesome-features {
        .container {
            width: 90% !important;
            .bg-smartphone {
                left: -5% !important;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .awesome-features {
        .container {
            .phone {
                .bg-smartphone {
                    display: none !important;
                }
                .smartphone {
                    display: none !important;
                }
            }
            .align-icon {
                .title-for-icon {
                    margin-left: 5vw !important;
                }
            }
        }
    }
}