@import 'font-settings.scss';
@import 'colours.scss';

.primary-title {
    color: $colour-for-title;
    font-weight: $semibold-font;
    font-size: 36pt;
}

.secondary-title {
    color: $colour-for-title;
    font-weight: $semibold-font;
    font-size: 20pt;
}

a {
    text-decoration: none;
    transition: all 0.2s;
}
a:hover {
    font-size: 17pt;
}

@media screen and (max-width: 1000px) {
    p {
        font-size: 2vh;
    }
    a {
        font-size: 2vh !important;
    }
    button {
        font-size: 2vh !important;
    }
    h1 {
        font-size: 4vh !important;
    }
    h2 {
        font-size: 2.7vh !important;
    }
}